body {
    font-family: 'Poppins', sans-serif;
}
.grid-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 16px;
}
.item{
    padding: 20px;
    box-sizing: border-box;
}

.first{
    background-color: yellow;
}

.third{
    background-color: dodgerblue;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header ul li{
    padding: 0 20px;
}

.inputs {
    text-align: left;
    margin-top: 30px;
}

label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 4px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: gray;
}

input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

textarea {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    margin-top: 20px;
}

button:hover {
    box-shadow: none;
}



@media (max-width: 768px) {
    .grid-main-container {
        grid-template-columns: 1fr;
    }
}